<section class="inicio">
  <h1>Sistema de Gestión de Productos</h1>

  <p>
    Bienvenido a Tienda Angular, una aplicación web desarrollada para practicar
    navegación, componentes, pipes y formularios en Angular.
  </p>

  <div class="tarjetas">
    <div class="tarjeta">
      <h3>Navegación</h3>
      <p>Permite desplazarse entre vistas sin recargar toda la página.</p>
    </div>

    <div class="tarjeta">
      <h3>Componentes</h3>
      <p>Organizan la interfaz en bloques reutilizables.</p>
    </div>

    <div class="tarjeta">
      <h3>Formularios</h3>
      <p>Permiten capturar información ingresada por el usuario.</p>
    </div>
  </div>
</section>
